#####################
# local server config
#####################

[[server]]
name = "Local"
tags = ["syncs"]
[server.config]
address = "https://komodo-periphery:8120"
region = "us-west-1"
enabled = true

[[builder]]
name = "Local"
tags = ["syncs"]
[builder.config]
type = "Server"
params.server_id = "Local"

#####################
# remote servers
#####################

[[server]]
name = "bird"
description = "Oracle cloud ARM server"
tags = ["syncs"]
[server.config]
address = "https://100.112.62.127:8120"
region = "us-west-2"
enabled = true

####################
# default procedures
####################

[[procedure]]
name = "Backup Core Database"
description = "Triggers the Core database backup at the scheduled time."
tags = ["system"]
config.schedule = "Every day at 01:00"

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "BackupCoreDatabase", execution.params = {}, enabled = true },
]

[[procedure]]
name = "Global Auto Update"
description = "Pulls and auto updates Stacks and Deployments using 'poll_for_updates' or 'auto_update'."
tags = ["system"]
config.schedule = "Every day at 03:00"

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "GlobalAutoUpdate", execution.params = {}, enabled = true },
]

####################
# repos
####################

[[repo]]
name = "komodo-syncs"
description = "Monorepo for Komodo syncs"
tags = ["syncs"]
[repo.config]
server_id = "Local"
repo = "benkoppe/komodo-syncs"
git_account = "benkoppe"
on_pull.path = "."
on_pull.command = """
  chmod +x ./docker-sops.sh
  find -name '*.env' -exec ./docker-sops.sh -i --decrypt {} \\;
"""

[[repo]]
name = "trak-backend"
tags = ["syncs"]
[repo.config]
repo = "benkoppe/bear-trak-backend"
git_account = "benkoppe"

####################
# syncs
####################

# main
[[resource_sync]]
name = "komodo-main"
tags = ["syncs"]
[resource_sync.config]
resource_path = ["main.toml", "stacks"]
linked_repo = "komodo-syncs"
delete = true
match_tags = ["syncs"]

####################
# update procedure
####################

[[procedure]]
name = "Webhook Syncs Update"
tags = ["syncs"]
[[procedure.config.stage]]
name = "Pull Syncs"
enabled = true
executions = [
  { execution.type = "PullRepo", execution.params.repo = "komodo-syncs", enabled = true },
]
[[procedure.config.stage]]
name = "Update Main Sync"
enabled = true
executions = [
  { execution.type = "RunSync", execution.params.sync = "komodo-main", enabled = true },
]
[[procedure.config.stage]]
name = "Update all Deploys"
enabled = true
executions = [
  { execution.type = "BatchDeployStackIfChanged", execution.params.pattern = "*", enabled = true },
]
