services:
  shlink:
    image: "shlinkio/shlink:stable"
    environment:
      - SERVICE_FQDN_SHLINK_8080
      - "DEFAULT_DOMAIN=${SERVICE_URL_SHLINK}"
      - IS_HTTPS_ENABLED=false
      - "INITIAL_API_KEY=${SERVICE_BASE64_SHLINKAPIKEY}"
      - GEOLITE_LICENSE_KEY=${GEOLITE_LICENSE_KEY}
      - SHORT_URL_TRAILING_SLASH=true
      - SHORT_URL_MODE=loose
    volumes:
      - "shlink-data:/etc/shlink/data"
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://127.0.0.1:8080/rest/v3/health"
      interval: 2s
      timeout: 10s
      retries: 15
    networks:
      - tunnel
      - newt-tunnel
  shlink-web:
    image: shlinkio/shlink-web-client
    environment:
      - SERVICE_FQDN_SHLINKWEB_8080
      - "SHLINK_SERVER_API_KEY=${SERVICE_BASE64_SHLINKAPIKEY}"
      - "SHLINK_SERVER_URL=${SERVICE_FQDN_SHLINK}"
    depends_on:
      - shlink
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://127.0.0.1:8080"
      interval: 2s
      timeout: 10s
      retries: 15
    networks:
      - tunnel
      - newt-tunnel

volumes:
  shlink-data:

networks:
  tunnel:
    external: true
  newt-tunnel:
    external: true
