[[stack]]
name = "blue-trak-transitclock"
tags = ["syncs"]
deploy = true
[stack.config]
server_id = "Local"

auto_pull = true
auto_update = true
destroy_before_deploy = true

linked_repo = "trak-backend"

run_directory = "transitclock"
environment = """
  AGENCYID=1
  AGENCYNAME=UMICH
  GTFS_URL=https://webapps.fo.umich.edu/transit_uploads/google_transit.zip
  TRAK_URL=https://bluetrakapi.thekoppe.com
"""

pre_deploy.command = """
  BASE="/etc/komodo/repos/komodo-syncs"
  PWD="$BASE/stacks/local/beartrak/blue-trak-transitclock"
  SOPS="$BASE/docker-sops.sh"

  chmod +x $SOPS
  $SOPS --output ./.env --decrypt $PWD/local.env
"""
